src/main/mule/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad4a0c31-5603-4f2a-b03b-a45cccdb91f0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="06406500-42a7-4a92-b208-01f8aaa579fd" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Raghava@0520" />
	</db:config>
	<flow name="databaseFlow" doc:id="4adaeab3-7916-4b48-8ece-c60b95e1f1fb" >
		<http:listener doc:name="Listener" doc:id="395465d4-6d44-4e67-92e7-e11daa2d67b5" config-ref="HTTP_Listener_config" path="/db-demo"/>
		<db:select doc:name="Select" doc:id="a94e8114-3386-42f9-881c-460a9eee2007" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM mulesoft.employees]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="00361df3-a38f-4d64-b2b2-cf3bfdbacef1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="65a77b20-d069-442a-b163-ff34c6e2d666" message="#[payload]"/>
	</flow>
</mule>
